<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<Def Class="FS_SSR.ConfigDef">
		<defName>SSR_Config</defName>
		<predictableIncidents>			<!-- 可被预知卫星预知的事件 -->
			<li>ToxicFallout</li>
		</predictableIncidents>
		<particleSatelliteAwards>			<!-- 粒子收集卫星出货的权重 -->
			<li>
				<item>Steel</item>
				<amount>20</amount>
				<weight>1</weight>
			</li>
		</particleSatelliteAwards>
		<interceptableSkyfaller>			<!-- 可被拦截卫星拦截的天坠物 -->
			<!--<li>DropPodIncomingMechanoid</li>-->
			<li>ShipChunkIncoming</li>
		</interceptableSkyfaller>
		<palmineDefaultMineralProp>			<!-- 帕鲁矿井的矿物的默认属性 -->
			<workAmount>7500</workAmount>
			<yield>75</yield>
			<innerStorageCapacity>1000000</innerStorageCapacity>
			<stockPerTunnel>50000</stockPerTunnel>
		</palmineDefaultMineralProp>
		<mentalDefenseTechRequire>SSR_Research_MentalProtectionTechnology</mentalDefenseTechRequire>		<!-- TCP_MapImmueMentalStates需要有这个科技才生效 -->
	</Def>

</Defs>